@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: "overpass", sans-serif;
  font-weight: lighter;
  background-color: #ff5e3a;
  background-image: linear-gradient(to top, #ff5e3a, #ff9500);
  color: #fff;
}

.icon {
  color:#fff;
}

.btn {
  border-color: #fff;
}
